.md,
.ios {
    @media (min-width: map-get($grid-breakpoints, lg)) {
        .pwa-center {
            ion-header .toolbar, ion-content ion-grid, ion-footer .toolbar {
                padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
                padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
            }
            .toolbar-title {
                padding-left: 0;
            }
            ion-header .toolbar,
            ion-footer .toolbar {
                margin: 0;
            }
        }
        .pwa-hide {
            display: none!important;
        }
    }
}